.projects__list {
    background-color: #ebf2f2;
    min-height: 56.7vh;
    padding-top: 20px;
    margin-top: 48px;
}

#no-results {
    margin-top: 10%;
    text-align: center;
    font-size: 2rem;
}

.projects__table {
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1259px) {
    .projects__list {
        min-height: 60.9vh;
    }

    .projects__table {
        max-width: 870px;
    }
}

@media screen and (max-width: 900px) {
    .projects__list {
        min-height: 67vh;
    }
}

@media screen and (max-width: 850px) {
    .projects__table {
        width: 100%;
    }

    .projects__list {
        min-height: 64vh;
    }
}

@media screen and (max-width: 800px) {
    .projects__list {
        min-height: 66.1vh;
    }
}
