div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #66ad36;
    font-size: 5rem;
}

h1::after {
    content: "";
}

h2 {
    color: #66ad36;
    font-size: 4.5rem;
    text-transform: uppercase;
}